 /* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 220px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #23232c; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

.nav{
    list-style: none;
}

/* The navigation menu links */
.nav-main{
    font-size: 12px;
    color: #72727d;
    font-family: Open Sans,Arial,sans-serif;
    line-height: 1.33333333;

}

.nav-link{
    color: #fff;
    font-size: 13px;
    line-height: 34px;
    padding-bottom: 0;
    padding-top: 0;
    border-width: 0 0 0 4px;
    box-sizing: border-box;
    display: block;
    position: relative;
    text-align: left;
    width: 100%;
    transition-duration: .15s;
}

.nav-submenulink{
    color: #fff;
    font-size: 11px;
    padding-left: 8px;
}

.nav-submenu{
    padding-left: 15px;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
}

.sidenav a {
    cursor: pointer;
    outline: 0 none;
    text-decoration: none;
}

.submenu{

}

.sidenav a:hover {
    color: #f1f1f1;
    background: #212529;
}

.main {
    margin-left: 220px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.logo{
    height: 24px;
    width: 117px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 17px;
}

.nav-divider{
    margin-bottom: 4px;
    margin-top: 4px;
    background-color: #32323d;
    height: 1px;
    margin: 8px 12px;
}

.nav-icons{
    color: #fff;
    font-size: 16px;
}