.img-body{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center; 
	background-attachment: fixed;
	
	height: 100%;
}
.encabezado{
	padding-top: 24px; 
	padding-left: 30px; 
	padding-right: 30px; 
	padding-bottom: 24px;

}
.button-encabezado{
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  padding: 10px 30px;
  margin-left: 10px;
  background-color: rgba(10,10,22,.45);
  border-color: transparent;
  transition-duration: .15s;
  transition-property: background-color;
  display: inline-block;
  border: lpx solid transparent;
  border-radius: 3px;
  cursor: pointer;
  margin: 0;
  position: relative;
  text-align: center;
  vertical-align: middle;
  font: inherit;
  outline: 0;
  overflow: visible;
  direction: ltr;
  float: right;
}

.button-google{
  color: #DC143C;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  padding: 5px 20px 5px 20px;
  margin-left: 10px;
  background-color: rgba(255,250,250,.70);
  border-color: transparent;
  transition-duration: .15s;
  transition-property: background-color;
  display: inline-block;
  border: lpx solid transparent;
  border-radius: 3px;
  cursor: pointer;
  margin: 0;
  position: relative;
  text-align: center;
  vertical-align: middle;
  outline: 0;
  overflow: visible;
  direction: ltr;
}

.button-facebook{
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  padding: 5px 20px 5px 20px;
  margin-left: 10px;
  background-color: rgba(59,89,152,.80);
  border-color: transparent;
  transition-duration: .15s;
  transition-property: background-color;
  display: inline-block;
  border: lpx solid transparent;
  border-radius: 3px;
  cursor: pointer;
  margin: 0;
  position: relative;
  text-align: center;
  vertical-align: middle;
  outline: 0;
  overflow: visible;
  direction: ltr; 
}

.main-contenido{
	
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 30px;      
}

.letras{
	color: #fff;
    margin-bottom: 60px;
    text-align: center;
    width: auto;
   direction: ltr;
   vertical-align: middle;
   font-family: Open Sans,Arial;
}

.select-lista{
	/*border: 0;
    cursor: pointer;
    font-size: 14px;
    height: 100%;
    left: 0;
    opacity: 0;
    
    top: 0;
    width: 100%;
     font: inherit;
    margin: 0;
    outline: 0;
    vertical-align: middle; */ 
    width: 273px;
    height: 100%;
    cursor: pointer;
    height: 45px;
    font:inherit;
    font-size: 14px;
    border-radius: 5px;

}

a.btn-conectarse{
	color: #FFFFFF;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  padding: 10px 30px;
  margin-left: 10px;
  background-color: #007feb;
  border-color: transparent;
  transition-duration: .15s;
  transition-property: background-color;
  display: inline-block;
  border: lpx solid transparent;
  border-radius: 3px;
  cursor: pointer;
  margin: 0;
  position: relative;
  text-align: center;
  vertical-align: middle;
  outline: 0;
  overflow: visible;
  direction: ltr;
  height: 45px;
  width: 275px;
  letter-spacing: .45px;
  margin-top: 10px;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
}

.btn-conectarse{
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  padding: 10px 30px;
  margin-left: 10px;
  background-color: #007feb;
  border-color: transparent;
  transition-duration: .15s;
  transition-property: background-color;
  display: inline-block;
  border: lpx solid transparent;
  border-radius: 3px;
  cursor: pointer;
  margin: 0;
  position: relative;
  text-align: center;
  vertical-align: middle;
  outline: 0;
  overflow: visible;
  direction: ltr;
  height: 45px;
  width: 275px;
  letter-spacing: .45px;
  margin-top: 10px;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
}

.index-link{
  font-size: 14px;
  margin: 15px 0;
  text-align: center;
  line-height: 1.33333333;
  cursor: pointer;
  transition-property: color;
  transition-duration: .15s;
  position: relative;
}

.index-input{
  height:44px;
  width: 273px;
  border-radius: 3px;
  font-style: italic;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  padding: 10px;
  margin-top: 3px;
}

a.button {
    color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  padding: 10px 30px;
  margin-left: 10px;
  background-color: rgba(10,10,22,.45);
  border-color: transparent;
  transition-duration: .15s;
  transition-property: background-color;
  display: inline-block;
  border: lpx solid transparent;
  border-radius: 3px;
  cursor: pointer;
  margin: 0;
  position: relative;
  text-align: center;
  vertical-align: middle;
  font: inherit;
  outline: 0;
  overflow: visible;
  direction: ltr;
  float: right;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
}

.select-register{
  margin-top: 3px;
  width: 135px;
  height: 100%;
  cursor: pointer;
  height: 45px;
  font:inherit;
  font-size: 14px;
  border-radius: 3px;
}
.div-admin{
  height: 200px ;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
 
}